.aboutus{
  text-align: center;
  width: 80%;
  border: solid 1px white;
  border-radius: 1000px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-right: 600px;
  /* margin-left: 600px; */
  margin-top: 20px;
  padding: 50px;
}

.imgcontainer {
  text-align: center;
  margin: 20px 0 10px 0;
}


img.avatar {
  width: 40%;
  border-radius: 50%;
}
